
  <div style="margin-top:200px;">
    <div class="row-fluid pricing-table pricing-three-column">
      <div class="span4 plan">
        <div class="plan-name-bronze">
          <h2>Bronze</h2>
          <span class="lead">100 msgs </span>
        </div>
        <ul>
          <li class="plan-feature ">$5 </li>
          <li class="plan-feature consult">Free consultation</li>
          <%= form_tag charges_path do %>
            <input type="hidden" name="plan" value="bronze"/>
            <input type="hidden" name="amount" value="500"/>
          <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="100 messages"
                              data-amount="500"></script>
        <% end %>
        </ul>
      </div>
      <div class="span4 plan">
        <div class="plan-name-silver">
          <h2>Silver </h2>
          <span class="lead">225 msgs </span>
        </div>
        <ul>
          <li class="plan-feature"><strike>$11.50</strike>   <font color="green">$10 <span class="label label-warning">Reddit</span></font></li>
          <li class="plan-feature consult">2 Consultations</li>
          <%= form_tag charges_path do %>
            <input type="hidden" name="plan" value="silver"/>
            <input type="hidden" name="amount" value="1000"/>
          <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="250 messages"
                              data-amount="1000"></script>
        <% end %>
        </ul>
      </div>
      <div class="span4 plan">
        <div class="plan-name-gold">
          <h2>Gold</h2>
          <span class="lead">500 msgs </span>
        </div>
        <ul>
          <li class="plan-feature">$20 </li>
          <li class="plan-feature consult">3 Consultations</li>
          <%= form_tag charges_path do %>
            <input type="hidden" name="plan" value="gold"/>
            <input type="hidden" name="amount" value="2000"/>
          <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="500 messages"
                              data-amount="2000"></script>
        <% end %>
        </ul>
    </div>
  </div>
</div>
